@use '../../styles.scss' ;

.board {
  display: grid;
  grid-template-areas:
    "logo toolbar toolbar"
    "stack play-area discard"
    "player player player";
  grid-template-rows: 1fr 3fr 3fr;
  gap: 1rem;
  width: 90vw;
  height: 85vh;
  margin: 0 auto;

  .stack, .discard, .hand, .play-area, .toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .logo {
    grid-area: logo;
    height: 6.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img.logo {
      height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .toolbar {
    grid-area: toolbar;
    height: 6.125rem;
    // border: 2px dashed black;
    padding: 0.5rem;
  }

  .stack {
    grid-area: stack;
    // border: 2px dashed blue;
  }

  .discard {
    grid-area: discard;
    // border: 2px dashed red;
  }

  .play-area {
    grid-area: play-area;
    // border: 2px dashed green;
  }

  .player {
    grid-area: player;
    // border: 2px dashed purple;
  }

}
